.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;

    @include tablets {
        padding: 50px 0 140px 0;
    }

    @include phones {
        padding: 50px 0 180px 0;
    }
}
