.section-title {
    @include font-desktop-h2;
    @include color($white);

    &--type--dark {
        @include color($dark-blue);
    }

    &--in--works {
        margin-bottom: 83px;

        @include tablets {
            margin-bottom: 50px;
        }

        @include phones {
            text-align: center;
        }
    }

    &--in--slider {
        @include phones {
            @include font-desktop-body-bold-1;
            margin-bottom: 20px;
        }
    }
}
