.slogan {
    &__text {
        @include font-desktop-body-regular-1;
        @include color($white, 0.6);
        margin-bottom: 31px;
    }

    &__author {
        @include font-desktop-body-italic-1;
        @include color($white);
    }
}
