.userInfo {

    display: flex;
    justify-content: center;

    &__title {
        @include color($white, 0.5);
        max-width: 165px;
        font-size: 18px;
        padding-top: 5px;
        margin-right: 56px;
        text-align: right;
    }

    &__name {
        @include font-desktop-h1;
        @include color($white);
        max-width: 427px;
    }
}
