.headline-component {
    background-image: linear-gradient(to top, #3e3e59, #454573);
    color: #ffffff80;
}

.headline {
    display: flex;
    align-items: center;
    padding: 16px 0;

}

.headline__buttons {
    margin-left: auto;
}

.headline__btn {
    color: #ffffffb3;
    text-decoration: underline;
    background: none;
}

.headline__title {
    margin-left: 30px;

    @media screen and (max-width: $bp-phones) {
        display: none;
    }
}
