.skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #373E42;
    font-size: 16px;
    font-weight: 400;
}

.skill__title {
    flex: 1;
    margin-right: 40px;
}

.skill__percent {
    width: 50px;
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}

.skill__buttons {
    display: flex;
    align-items: center;
}

.skill__btn {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}
